<div class="container text-center">
  <h1 id="user"></h1>
  <%- include( 'partials/navbar') %>
  <script>
    if (!localStorage.getItem('user')) {
        let user = "<%- username %>"
        localStorage.setItem('user', user)
    }
    let currentUser = localStorage.getItem('user')
    console.log(`User logged in: ${currentUser}`)
</script>
  <% if (!locals.username) { %>
  <script>
    let currentUser = localStorage.getItem('user')
    document.getElementById('user').innerText = `👋 Hello, ${currentUser}`
    //document.getElementById('userInput').value = currentUser
    console.log(`User logged in: ${currentUser}`)
  </script>
  <% } else { %>
  <h1>👋 Continue here, <%= username %></h1>  
  <h3>Select Category of item</h3>
  
  <form enctype="multipart/form-data" method="POST" action="/item/:id">
    <input id="userInput" type="hidden" name="username" value="<%= username %>">
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="category">
      <option selected>Category</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <label>Name of item:</label>
    <input type="text" name="product"/><br>
    <input type="file" name="image"><br>
    <input type="submit" class="btn btn-primary">
  </form>

  <div class="album py-5 bg-light">
    <div class="container">
  
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  
            <div class="card-body">
              <p class="card-title">
                <% foundItems.forEach(item => { %>
                  <p class="card-text"><%= item.product %></p>
                  <p class="card-text"><%= item.category %></p>
                  <%- item.image %>
              <% }) %>
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
  
      </div>
    </div>
  </div>
  
</div>
<% } %>