   <%- include( 'partials/navbar') %>

    <% if (created) { %>
      <h2>👋 Welcome back, <%= username %></h2>
    <% } else { %>
      <h2>Post your freebie here, <%= username %>!</h2>
    <% } %>

  <h6>Select Category of item:</h6>
  <div class="offset-sm-3 col-sm-6 mb-5">
    <form enctype="multipart/form-data" method="POST" action="/item/:id">
      <input class="form-control" id="userInput" type="hidden" name="username" value="<%= username %>">
      <select class="form-select form-select-md mb-3" aria-label=".form-select-md example" name="category">
        <option selected>Category</option>
        <option value="Electronics & Media">Electronics & Media</option>
        <option value="Home & Garden">Home &amp; Garden</option>
        <option value="Clothing & Accessories">Clothing &amp; Accessories</option>
        <option value="Baby & Kids">Baby &amp; Kids</option>
        <option value="Vehicles">Vehicles</option>
        <option value="Toys, Games, & Hobbies">Toys, Games, &amp; Hobbies</option>
        <option value="Sports & Outdoors">Sports &amp; Outdoors</option>
        <option value="Collectibles & Art">Collectibles &amp; Art</option>
        <option value="Pet supplies">Pet supplies</option>
        <option value="Health & Beauty">Health &amp; Beauty</option>
      </select>
      <label class="form-label">Name of item:</label>
      <input class="form-control mb-3" type="text" name="product"/>
      <label class="form-label" for="item">Description:</label>
      <textarea class="form-control mb-3" name="description" rows="4" cols="50">
      </textarea>
      <label class="form-label">Upload image:</label>  
      <input class="form-control mb-4" type="file" name="image">
      <input class="btn" type="submit" />
    </form>
  </div>


  <% if (foundItems ) { %>
  <div class="offset-sm-3 col-sm-6">
    <div class="container">
      <div class="row g-5">
        <% foundItems.forEach(item => { %>     
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text"><%= item.category %></p>
              <p class="card-text"><%= item.product %></p>
              <p class="card-text"><%= item.description %></p>
              <p class="card-text"><%= zipcode %></p>
              <div class="img-fluid"><%- item.image %></div>
              <form method="POST" action="/item/<%= item.id %>/user/<%= userId %>/?_method=DELETE">
                <input class="btn btn-dark mt-5" type="submit" value="Delete item">
              </form> 
              </div>
            </div>
          </div>         
        <% }) %>
    
      </div>
    </div>
  </div>
  <% } %>
  